* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}
svg {
  width: 24px;
  height: 24px;
}
.arrow-svg:hover {
  background: black;
  cursor: pointer;
}
.arrow-svg {
  border-radius: 216px;
  background: var(--Purple, #854dff);
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 343px;
  padding: 48px 24px;
  border-radius: 24px 24px 100px 24px;
  gap: 63.5px;
}
#ageCalculatorForm {
  display: flex;
  gap: 16px;
}
.imputDiv {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--Line, #dcdcdc);
  width: 100%;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
}
.imputDiv::placeholder {
  font-size: 15px;
  font-weight: 700;
}
.common-label {
  color: #716f6f;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.rectangle-div {
  height: 1px;
  width: 100%;
  background: #dcdcdc;
  position: relative;
}
.empty-span {
  color: var(--Purple, #854dff);
  font-size: 56px;
  font-style: italic;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -1.12px;
}
.result-items {
  color: var(--Black, #151515);
  font-size: 56px;
  font-style: italic;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -1.12px;
}
.results-div {
  display: flex;
  gap: 8px;
}

@media (min-width: 1440px) {
  main {
    width: 840px;
    padding: 56px;
    align-items: flex-start;
  }
  #ageCalculatorForm {
    gap: 32px;
  }
  .input-row {
    width: 160px;
    padding: 12px 24px;
  }
  .arrow-svg {
    left: 100%;
    width: 96px;
    height: 96px;
  }
  .empty-span {
    font-size: 104px;
  }
  .result-items {
    font-size: 104px;
  }
  svg {
    width: 44px;
    height: 44px;
  }
}
