*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100vw;
    background-color: #F0F0F0
}
svg{
    background-color: red;
}